.title-bar {
    margin-left: 10;
    margin-top: 10;
    margin-bottom: 10;
    padding: 5;
    font-size: 36;
}

.medium-spacing {
    margin-left: 15;
    margin-right: 15;
    margin-bottom: 10;
}

.small-spacing {
    margin: 5;
}

