<StackLayout class="p-20 layout-container">
  <Label text="Powers of 2" class="h2 text-left"></Label>
  <Label text="Timer" class="text-right"></Label>
  <Switch [checked]="timed" [(ngModel)]="timed" propertyChange="onCheckChange($event)" ></Switch>
  <Label text="{{ correct }} out of {{ total }}" class="text-right"></Label>
  <HtmlView html="{{ problem.hintHtmlTemplate }}" class="text-left"></HtmlView>
  <TextField hint="x is ..." keyboardType="number" [(ngModel)]="guess" ></TextField>
  <Button text="Check" (tap)="check()" class="btn btn-primary btn-active"></Button>
  <Progress [value]="countdown" [maxValue]="maxCountdown"></Progress>
</StackLayout>
